* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header

{
    background-color: #38dbf1;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.head-box {

    background-color: #f19b38;
    color: #000000;
    padding: 15px;
    text-align: center;
    flex: 1;
    border: #000000;
    border-style: dashed;
}

.head-box.central {
flex-grow: 2;
}

.main-head
{ background-color: #050e76;
    color: #000000;
    padding: 120px;
    justify-content: center;
    align-items: center;
    
}

.main-head.little

{ background-color: #c508a2;
    padding: 150px;
    margin: 0px 200px;
    
}


main
{ 
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 200px;
   margin-right: 200px;
    
}

.main-body.blue
{ background-color: #5a48f7;
    color: #ffffff;
    
    height: 200px;
    border: #000000;
    border-style: dashed;
    flex-grow: 1.5;
   

}

.main-body.pink
{ background-color: #ff80fb;

    flex-grow: 1;
    
}

.main-body.blue.B
{ flex-grow: 1;

}

.main-body.pink.B
{ flex-grow: 1.5;

}

.main-body.blue.C
{ flex-grow: 1.5;

}

.main-body.pink.C
{ flex-grow: 1;

}


.row
{ display: flex;
    width: 100%;
    max-width: 1000px;
    
    justify-content: center;

}

.row.grey
{    background-color: #b0afaf;
    padding: 20px;
    
  
}

.main-body.green
{ background-color: #19a01f;
    height: 700px;
    border: #000000;
    border-style: dashed;
    flex-grow: 1;
}

.row.black
{ background-color: #262323;
    padding: 20px;
    
    
}

.main-body.orange
{ background-color: #f7a05a;
    flex-grow: 1.5;

}

.main-body.light.green
{ background-color: #a1f7a0;
    flex-grow: 1;

}

.row.black.little {
background-color: #262323;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.main-body.light.blue
{ background-color: #a0a1f7;
    height: 100px;
}

.main-body.button
{ background-color: #f7a0a0;
    padding: 5px 10px;
    border: 2px dashed #000;
    
} 

.main-body.spacer {
    flex-grow: 1;
    background-color: transparent;

} 